  .Inside_main{
    margin-top: 100;

  }
  .h1hhh
  {
    background-color: #878787;
  }
  .i1 {
    max-width: 100%;
    display: block;
  }
  
  .image-full {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
  }
  
  .ar-title{
    font-family: serif;
    font-weight: 400;
    color: #0256ff;
    margin-top: 0;
  }
  
  .ar-title {
    font-size: 2rem;
    margin: 0;
  
  }
  
  .widget-recent-post-title {
    color: #1792d2;
  }
  
  .stitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
  }
  
  .ar-title {
    font-size: 30px;
  }

 
  
  .article-read-more,
  .article-info {
    font-size: .875rem;
  }
  
  .article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
  }
  
  .article-read-more:hover,
  .article-read-more:focus {
    color: #143774;
    text-decoration: underline;
  }
  
  .article-info {
    margin: 2em 0;
  }
  
  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .top_head {
    background: #8d8741;
    text-align: center;
    padding: 2em 0;
    margin-bottom: 3em;
  }
  
  .ft{
    background: #8d8741;
    color: white;
    text-align: center;
    padding: .5em 0;
  }
  
  .fa-heart {
    color: red;
  }
  
  .ft a {
    text-decoration: none;
    color: red;
  }
  
  strong {
    font-weight: 700;
  }
  
  
  .current-page {
    border-bottom: 1px solid #707070;
  }
  
  .current-page:hover {
    color: #707070;
  }
  
  .article-featured {
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  
  .ar_1{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  
  .ar_main {
    order: 2;
  }
  
  .article-recent-secondary {
    order: 1;
  }
  
  .sidebar-widget {
    border: 10px solid #64afda;
    margin-bottom: 1px;
    background: #fafafa;
    padding: 1em;
    
  }
  
  .widget-title {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 700;
  }
  
  .widget-recent-post-title {
    font-size: 1rem;
  }
  
  .widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
  }
  
  .widget-recent-post:last-child {
    border: 0;
    margin: 0;
  }
  
  .widget-image {
    order: -1;
    margin-bottom: .5em;
  }
  
  
  @media (min-width: 675px) {
  
    .container-flex {
      flex-direction: row;
    }
  
   .Inside_main{
      width: 70%;
    }
  
    aside {
      width: 25%;
      min-width: 200px;
      margin-left: 10em;
    }
  
   
    .ar_1 {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .ar_main {
      width: 68%;
    }
  
    .article-recent-secondary {
      width: 30%;
    }
  
    .ar-title {
      order: 99;
    }
  
    .article-image {
      width: 100%;
      min-height: 200px;
      object-fit: cover;
    }
  
  
    .article-featured {
      display: flex;
      flex-direction: column;
    }
  
    .article-image {
      order: -2;
    }
  
    .article-info {
      order: -1;
    }
  
    .ar-title {
      order: 0;
    }
  
  }